<div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-100" bs-affix bs-scrollspy-list>
   <ul class="nav bs-sidenav">
<!--     <li>
      <a href="#js-overview">Overview</a>
      <ul class="nav">
        <li><a href="#js-individual-compiled">Individual or compiled</a>
        </li>
        <li><a href="#js-data-attrs">Data attributes</a>
        </li>
        <li><a href="#js-programmatic-api">Programmatic API</a>
        </li>
        <li><a href="#js-noconflict">No conflict</a>
        </li>
        <li><a href="#js-events">Events</a>
        </li>
      </ul>
    </li>
    <li><a href="#transitions">Transitions</a>
    </li> -->
    <li>
      <a href="#getting-started">Getting started</a>
<!--       <ul class="nav">
        <li><a href="#modals-examples">Examples</a></li>
        <li><a href="#modals-usage">Usage</a></li>
      </ul> -->
    </li>
    <hr style="margin: 2px 0;">
    <li>
      <a href="#navigation">Navigation</a>
      <ul class="nav">
        <li><a href="#navigation-usage">Usage</a></li>
        <li><a href="#navigation-examples">Examples</a></li>
      </ul>
    </li>
    <li>
      <a href="#cover-pages">Cover Pages</a>
      <ul class="nav">
        <li><a href="#cover-pages-usage">Usage</a></li>
        <li><a href="#cover-pages-examples">Examples</a></li>
      </ul>
    </li>
    <li>
      <a href="#hero-images">Hero Images</a>
      <ul class="nav">
        <li><a href="#hero-image-usage">Usage</a></li>
        <li><a href="#hero-image-examples">Examples</a></li>
      </ul>
    </li>
    <li>
      <a href="#glyphicons">Glyphicons</a>
      <ul class="nav">
        <li><a href="#glyphicons-usage">Usage</a></li>
        <li><a href="#glyphicons-examples">Examples</a></li>
      </ul>
    </li>
    <li>
      <a href="#media-elements">Media Elements</a>
      <ul class="nav">
        <li><a href="#media-elements-usage">Usage</a></li>
        <li><a href="#media-elements-examples">Examples</a></li>
      </ul>
    </li>
    <li>
      <a href="#social-integration">Social Integration</a>
      <ul class="nav">
        <li><a href="#social-integration-usage">Usage</a></li>
        <li><a href="#social-integration-examples">Examples</a></li>
      </ul>
    </li>
    <li>
      <a href="#responsive-design">Responsive Design</a>
      <ul class="nav">
        <li><a href="#responsive-design-usage">Usage</a></li>
        <li><a href="#responsive-design-examples">Examples</a></li>
      </ul>
    </li>
  </ul>
</div>
